	form label {
		display: inline-block;
		width: 225px;
		font-weight: bold;
	}

	body
	{
		padding: 0;
		margin: 0;
		background: #800000;
		color: #000;
		
	}
	
	#wrap{
		width: 1100px;
		margin: 0 auto;
		background: #000000;
	}
	
	#header{
		margin-top: 10px;
		padding: 5px;
		background: #cc9;
		background-image: url('border5.gif');
		background-repeat: no-repeat;
		background-position: top center;
		text-align: center;
	}
	
	#header2{
		background: #000000;
		text-align: center;
	}
	
	#toolbar{
		width: 1100px;
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
		background: #8b4513;
		text-align: center;
	}
	
	#features{
		float: left;
		padding: 10px;
		background: #000000;
		margin-bottom: 20px;
	}
	
	#sidebar{
		float: right;
		width: 230px;
		margin-right: 20px;
		background: #000000;
		text-align: left;
		padding: 10px;
	}
	
	#main{
		float: left;
		width: 490px;
		text-align: left;
		padding-left: 10px;
		background-color: #000000;
		color: #ffffff;	
	}
		
    #footer{
     	clear: both;
     	background: #8b4513;
		width: 1100px;
		margin-bottom: 10px;
		text-align: center;
    }
	
	#contents{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-right:auto;
		margin-left:auto;
		width: 600px;
		padding: 10px;
		background-color: #dceef6;
		color: #000;
		text-align: left;
	}
	
	
	textarea {
		background-color: #7FFF00;
	}
	
	#contents2{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-right:auto;
		margin-left:auto;
		width: 600px;
		padding: 10px;
		background-color: #549abc;
		color: #dceef6;
		text-align: left;
	}
	
	a:link{
		color: #ffffff;
		text-decoration: underline;
	}
	
	a:visited{
		color: #ffffff;
		text-decoration: underline;
	}
	
	a:hover{
		color: #ffffff;
		text-decoration: underline;
	}
	
	h1{
		color: #7fff00;
		background-color: transparent;
		font-family: "Gill Sans Ultra Bold", "Lucida Grande", Sans-Serif;
		font-size: 30px;
	}

	tableHeader{
		color: #800000;
		background-color: transparent;
		font-family: "Gill Sans Ultra Bold", "Lucinda Grande", Sans-Serif;
	}
	
	label{
		color: #ffffff;
		background-color: transparent;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.8em;
	}
	
	
	p{
		color: #ffffff;
		background-color: transparent;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.8em;
	}


	p.side{
		color: #039;
		background-color: transparent;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.6em;
	}


	
	input{
		color: #000000;
		background-color: #CCCC99;
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 0.8em;
	}

    #plain{
		color: #039;
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.8em;
	}

	#plain2{
		color: #039;
		background-color: transparent;
		font-family: Arial, Helvetica, sans-serif;
	}
    
    
table.report {
	border-width: thin;
	border-spacing: ;
	border-style: hidden;
	border-color: blue;
	border-collapse: separate;
	font-family: Arial, Helvetica, sans-serif;
	
}
th.report {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: blue;
	background-color: rgb(220, 238, 246);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	
}
td.report {
	border-width: 1px;
	padding: 3px;
	border-style: inset;
	border-color: blue;
	background-color: rgb(220, 238, 246);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	
}

#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #dceef6;;
	margin: 5px;
	width: 440px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}
